html,
body {
  /* padding: 0;
  margin: 0; */
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}


/* For the tabs on the main page: */
.global_tabs .nav-item {
  margin: 0 auto;
}

.global_tabs .nav-item .nav-link {
  color: black;
  font-size: large;
}

.global_tabs .nav-item .nav-link.active {
  color: rgb(39, 97, 184);
  font-weight: 500;
}

.mq-math-mode {
  font-size: 30px;
}